.SectionSearch-wrapper {
  padding-top: 345px;
}
.SectionSearch-main {
  background-color: #f3f8fb;
}
.sec-3 {
  padding-top: 16px !important;
}
.SectionSearch-body {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  padding-top: 76px;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 32px;
  padding-bottom: 64px;
}
.SectionSearch-desc {
  font-family: "galano grotesque-regular";
  max-width: 352px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #4d4d4d;
  height: 72px;
}
.SectionSearch-heading {
  font-family: "galano grotesque-medium";
  padding-top: 36px;
  padding-bottom: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #1a181e;
}
.standout-img {
  position: relative;
  top: -11px;
}
@font-face {
  font-family: "galano grotesque-medium";
  src: url(../fonts/galanogrotesque-medium.otf);
  font-weight: 400;
}
@font-face {
  font-family: "galano grotesque-regular";
  src: url(../fonts/galanogrotesque-regular.otf);
  font-weight: 400;
}
