.headerRightMain {
  display: flex;
  /* gap: 32px; */
}
.pcButton {
  background-color: #ffffff;
  border-radius: 4px;
  border: none;
}

.hd-rt-font {
  font-family: "galano grotesque-regular";
  margin-bottom: 0;
}
.signIn {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  padding: 12px 32px;
}
.pcButton p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #146eb4;
  padding: 12px 24px;
}
.signIn {
  text-decoration: none;
}

@font-face {
  font-family: "galano grotesque-regular";
  src: url(../fonts/galanogrotesque-regular.otf);
  font-weight: 400;
}
