.Footer-main {
  background-color: #1a181e;
}
.Footer-body {
  max-width: 1120px;
  margin: 0 auto;
  width: 100%;
}
.Footer-wrapper {
  display: flex;
  padding-top: 64px;
}
hr {
  opacity: 0.2;
}
.flag {
  width: 27px;
  height: 17px;
}
.copright {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  padding: 24px 0;
}
.copright p {
  font-family: "galano grotesque-regular";
  font-size: small;
}
.Footer-link {
  display: flex;
  gap: 126px;
  padding-bottom: 24px;
}
.logo-dukaan {
  padding-right: 132px;
}
.job {
  text-decoration: none;
  color: #1a181e;
  background-color: #ffffff;
  padding: 3.5px 6px;
  border-radius: 50%;
  font-size: 11px;
  top: -3px;
  position: relative;
}
.list-1,
.list-2,
.list-3,
.list-4 {
  padding-right: 102px;
}

.Footer-container ul li {
  font-family: "galano grotesque-regular";
  /* font-size: medium; */

  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  padding-bottom: 16px;
}

@font-face {
  font-family: "galano grotesque-regular";
  src: url(../fonts/galanogrotesque-regular.otf);
  /* font-weight: 400; */
}
