@import url(//db.onlinewebfonts.com/c/96092db40c3de99f4a5298fe02b82e27?family=Galano+Grotesque);

* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Galano Grotesque SemiBold", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
