.TryProduct-body {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
}
.TryProduct-container {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  padding-bottom: 80px;
}
.TryProduct-body h2 {
  font-family: "galano grotesque-semibold";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: -0.04em;
  color: #1a181e;
  padding-top: 80px;
  padding-bottom: 48px;
}

.tryproduct-title {
  font-family: "galano grotesque-medium";
  font-weight: 400;
  padding-top: 16px;
  padding-bottom: 4px;
  font-size: 20px;
  line-height: 28px;
  color: #1a181e;
}
.tryproduct-desc {
  font-family: "galano grotesque-regular";
  font-weight: 400;
  width: 352px;
  height: 72px;

  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #4d4d4d;
  padding-bottom: 32px;
}

@font-face {
  font-family: "galano grotesque-semibold";
  src: url(../fonts/galanogrotesque-semibold.otf);
  font-weight: 600;
}
@font-face {
  font-family: "galano grotesque-regular";
  src: url(../fonts/galanogrotesque-regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: "galano grotesque-medium";
  font-weight: 400;
  src: url(../fonts/galanogrotesque-medium.otf);
}
